.presi {
	background-color: #ff8800;
}
.btn_1 {
	text-align: center;
	color: white;
	width: 50% !important;
}

.tmin {
	height: 30px;
	font-size: 15px;
}

.card-title {
	text-align: center;
}

.map-wrap {
	background: rgba(8, 253, 216, 0.1);
	float : right;
	width : 53%;
	height : 100%;
}

.leaflet-container {
	width: 100%;
	height: 100%;
	position: relative;
	opacity: 0;
	animation: backInRight 1s 1.2s;
	animation-fill-mode : forwards;
}
