.img_l {
	width: 23%;
}

.navbar-nav {
	.nav-link {
		position: relative;

		&::before {
			content: '';
			position: absolute;
			bottom: -3px;
			left: 0;
			height: 3px;
			width: 100%;
			transition: 0.3s;
			border-radius: 25px;
			transform: scaleX(0);
			background-color: black;
		}

		&:hover::before {
			transform: scaleX(1);
		}
	}
	.nav-link.active::before {
		transform: scaleX(1);
	}
}
