.btn_1 {
	text-align: center;
	color: white;
	width: 50% !important;
}

.tmin {
	height: 30px;
	font-size: 15px;
}

.card-title {
	text-align: center;
}

.btn {
	text-align: center;
}

.nom_president {
	background-color: #ff8800;
}
